<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Live Chat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	<link rel="stylesheet" href="../css/chat.css" />
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Chat</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/logout">
						<span class="glyphicon glyphicon-log-out"></span> Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-6">
				<h2>Friends</h2>
				<ul class="list-group">
					<% user.friends.forEach(function(friend) { %>
						<li>
							<a class="list-group-item" href="#">
								<%= friend.display_name %>
								<input id="f_display_name" type="hidden" value="<%= friend.display_name %>">
								<input id="f_email" type="hidden" value="<%= friend.email %>">
							</a>

							<!-- <span class="badge">12</span> -->
						</li>
						<% }); %>
				</ul>
			</div>
			<div class="col-sm-8 col-md-6">
				<div id="live-chat">
					<header class="clearfix">
						<a href="#" class="chat-close">x</a>
						<h4 id="_id_room_title">
						</h4>
						<small id="id_type"></small>
						<span class="chat-message-counter">3</span>
					</header>

					<div class="chat">
						<div id="id_chat_history" class="chat-history">

						</div>
						<!-- end chat-history -->

						<hr>

						<!-- <p class="chat-feedback">Your partner is typing…</p> -->
						<form action="">
							<fieldset>
								<input id="m" type="text" placeholder="Type your message…" autofocus>
								<input id="receiver_id" type="hidden" value="360qa101@gmail.com">
								<input id="sender_id" type="hidden" value="<%= user.email %>">
							</fieldset>
						</form>

					</div>
					<!-- end chat -->

				</div>
				<!-- end live-chat -->
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="../js/chat.js"> </script>
</body>

</html>